*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.toolbox-cont{
    height: 5rem;
    background-color:black ;
    display: flex;
    align-items: center;
}
.toolbox-cont >*{
    margin-left: 4rem;
    border-radius: 2px;

    
}
.toolbox-priority-cont{
    height : 3.5rem;
    width: 16rem;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px;
    
}
.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: gray;
    display: flex;
    
}
.action-btn-cont >*{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    color: aliceblue;
}
.color{
    height: 1.5rem;
    width: 2.5rem;
    background-color: lightsalmon;
    border-radius: 2px;
    
}
.lightpink{
    background-color: lightpink;
}
.lightgreen{
    background-color: lightgreen;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}
.action-btn-cont>*:hover{
    background-color: lightgray;
}
.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: aqua;
    position: absolute;
    top:calc((100vh - 50vh)/2);
    left: calc((100vw - 45vw)/2);
    display: flex;

}
.textarea-cont{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color: lightgray ; 
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
    
     
}
.priority-color-cont{
    height: 100%;
    width: 25%;  
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.priority-color{
    height: 3.5rem;
    width: 60%;
   

}
.border{
    border: 1px solid red;
}
.ticket-cont{
    height: 12rem;
    width: 16rem;
    background-color: lightgray;
}
.ticket-color{
    height: 1rem;
    background-color: lightcoral;
}
.ticket-id{
    height: 2rem;
    background-color:  lightgray ;
    padding:0.4rem ;
}
.task-area{
    height: calc((100%-3rem));
    padding: 0.4rem;
    
}
.main-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
   gap: 2rem;
   justify-content: center;
}